<main>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="user-form-div">
          <h1 class="title mb-5">User Form</h1>
          <form #userForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
              <input type="text" #firstName="ngModel" required class="form-control" name="firstName"
                [(ngModel)]="userModel.first_name" placeholder="First Name" autocomplete="off">
              <small class="text-danger" [class.d-none]="firstName.valid || firstName.untouched">* First Name is
                required</small>
            </div>

            <div class="form-group mb-3">
              <input type="text" #lastName="ngModel" required class="form-control" name="lastName"
                [(ngModel)]="userModel.last_name" placeholder="Last Name" autocomplete="off">
              <small class="text-danger" [class.d-none]="lastName.valid || lastName.untouched">* Last Name is
                required</small>
            </div>

            <div class="form-group mb-3">
              <input type="email" #email="ngModel" required class="form-control" name="email"
                [(ngModel)]="userModel.email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                (ngModelChange)="userModel.email = $event.toLowerCase()" autocomplete="off">
              <small class="text-danger" [class.d-none]="email.valid || email.untouched">* Email is required and must be
                a valid email pattern</small>
            </div>

            <div class="form-group text-center">
              <button [disabled]="userForm.form.invalid" type="submit" class="btn btn-primary">Submit</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</main>