/* You can add global styles to this file, and also import other style files */
.user-form-div {
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
}

.user-form-div .title {
    text-align: center;
}